@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Harlow Solid Italic';
    src: url('/font/Harlow/harlow-solid.eot');

    src: local('Harlow Solid Italic'),
        url('/font/Harlow/harlow-solid.eot') format('embedded-opentype'),
        url('/font/Harlow/harlow-solid.woff2') format('woff2'),
        url('/font/Harlow/harlow-solid.woff') format('woff'),
        url('/font/Harlow/harlow-solid.ttf') format('truetype'),
        url('/font/Harlow/harlow-solid.svg#HarlowSolidItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.floating{
    align-self: center;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}